html>
<head>
    <style>
        img{
            width:800px;
            height: 650px;
            border: 5px solid white;
        
        }
        h3{
            font-size: 35; color: coral;  
            background-color: blanchedalmond;
            
            
        }
        a{
            text-decoration: none  3u
            color: darkred;
            font: 20px;
            
        }
        a:hover{
            text-decoration: underline;
            color: cornflowerblue;
            
        }
        div{
            width: 300px;
            height: 400px;
            background: pink;
            
        }
    </style>
    
<title> my visit to singapour </title>

</head>
	<body bgcolor="purple">
		<font size="20px" color="white" face="tahoma"
			<h1> <p align="center"> My first move </p> </h1> 
		</font> 
		<center>
		<font size="30px" color="red"  />
			<h2> <p align = "center"> <I>to Singapour</I> </p> </h2>
			
		<img src="DSC_0138.JPG" width="800"/>
		<img src="DSC_0138.JPG"/>
	
<a href="https://www.google.com">
<b>singapour attractions</b>
</a>

<a href="https://www.google.com">
<b>singapour attract77ions</b>
</a>
<a href="IMG_20161204_185702.jpg" target="_blank"> </a>

